
 $color-primary:#FF79DA;
 $color-secondaire:#9356DC;
$color-tertiaire:#99E2D0;




  




body{

padding:0 ;
margin: 0;
height: 100vh;
width: 100%;

}



@mixin width-display{
    width: 100%;
    display:grid;
  
    
}
@mixin heart__hover{ 
  cursor: pointer;
  transition: all 1s ease-out;
    background: -webkit-gradient(linear, left top, left bottom,
     from($color-secondaire), to($color-primary));
   background-clip: text;
   -webkit-text-fill-color: transparent;         
    font-weight:bold;
}

@mixin box-article{display: grid;
  height: 65px;
 border: 1px solid black;
border-radius:20px;
margin-right:10px;
background-color: #fff;
grid-template-rows: 25px 20px;

}

@mixin artilcle-h4{
  margin-top: 10px;
  margin-left: 10px;
 font-family:'Roboto';
 font-weight:bold;
  
}
@mixin aside_setion123{
  margin-top: 10px;
  margin-left:10px;
 font-size:17px ;

}
@mixin price123 {
  margin-left:300px;
display:grid;
 margin-top: -20px; 
 font-weight:bold;  
}


    .wapper{@include width-display;
    height: 1641px;
    grid-template-rows:80px 1fr 4fr 1fr 1fr;
    border:1px solid black;
 grid-template-areas: "header""header""section"
 "nav" "footer";


}
header{ 
    grid-area:header;
    background-color:#FEFEFE;
    @include width-display;
    margin-top: 0.3rem;
   grid-template-rows:60px 250px;
   
  .header-box{background-color:#FEFEFE;
    display: grid;
    margin-top: -8px;
    .acueil{ align-self: center;
     margin-left: 20px;

    }
  .header-logo{
   font-size:30px;
   grid-area: 1/2;
   margin-left:-30px;
   font-family :'Shrikhand',cursif;
   
  }

}
   }
   .header_img-pal{ height:250px;
    width: 100%;


   }

section{border:1px solid black;
   grid-area:section;
 @include width-display;
background-color:#f2f2f2; 
border-top-left-radius:30px;
border-top-right-radius: 30px;
 
.section_page{
   height: 150px;
   @include width-display;
   grid-template-rows:1fr 1fr;
   grid-template-columns:2fr 1fr; 
.section__page_lap{margin-top:40px;
  font-family:'Shrikhand',cursif;
font-stretch: 200%;
}
}
   .section_heart{
 
    width: 28px;
    height: 30px;
  grid-area: 1/2;
 margin-top: 35px;
  margin-left:26px;

  

  }
 .heart{width: 28px;
  height: auto;
 }

  .fa-heart{
    margin-top: 10px;
    margin-left:35px;    
    font-size:23px;
  }
  .fa-heart:hover { 
   @include heart__hover;
    
  }
.section_box__ent{
  width: 100px;
  height:30px;  
display: grid;
border-bottom:4px solid $color-tertiaire;
width:43px;
margin-left:10px;


.ent{

 margin-top:10px;
}

}



.menu_entrée{
 
border:1px solid black;
@include width-display;
margin-top:-240px;
margin-left:10px;
margin-right:10px;
height:230px ;
  
  
.box_art-un{
  @include box-article;
  box-shadow:  3px 3px 10px #dedada;
  cursor: pointer; 
 grid-template-columns:250px 1fr 1fr;
  }

  .section__animation{ 
  display:grid;
    grid-area:2/4;
    background-color:#99e2d0;
  margin-left: 20px;
   margin-top: -25px;
   height:65px;

   
 border-bottom-right-radius: 20px;
 border-top-right-radius:20px ;
 width:60px;
 
 .section__animation-rond{ width: 10px;
  height: 10px;
   border:1px solid black;
   align-self: center;
 }
  }
  
  
    
    
    
    


.section_article-h4{
  @include artilcle-h4;

}

.section_art-asi{ @include aside_setion123;

grid-area: 2/1;
 .aside_price{@include price123 
 }
}

}


.box_art-deux{
 @include box-article;
 margin-top:15px ;

 .section_article-foi{
@include artilcle-h4;
 }

.section_art-deux{
  @include aside_setion123;
 
.aside_price2{@include price123  
  
}
}

}
.box_art-trois{ @include box-article;
 margin-top:15px ;
 .section_article-oeuf{
  @include artilcle-h4;  
 }
.section_art-trois{
  @include aside_setion123; 
  .aside_price3{@include price123;  

  }

}


}


}
.section_box__plat{
  margin-top:-235px;
  width: 100px;
  height:30px;  
display: grid;
border-bottom:4px solid $color-tertiaire;
width:43px;
margin-left:10px;
.plat{
  margin-top:10px;
}


}







 




 



  nav{border:1px solid black;
    background-color:red;
   grid-area: nav;
   @include width-display;
  }




  Footer{border:1px solid black;
    background-color:black;
    grid-area:footer;
    @include width-display;
    grid-template-rows: auto;

  }