
 $color-primary:#FF79DA;
 $color-secondaire:#9356DC;
$color-tertiaire:#99E2D0;

@import "./utils/mixins";


  




body{

padding:0 ;
margin: 0;
height: 100vh;
width: 100%;
font-family:"Roboto",sans-serif;

}
 
 a:link{ text-decoration:none;
  color: black;
 }
@mixin width-display{
    width: 100%;
    display:grid;
  
    
}
@mixin heart__hover{ 
  cursor: pointer;
  transition: all 1s ease-out;
    background: -webkit-gradient(linear, left top, left bottom,
     from($color-secondaire), to($color-primary));
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;         
    font-weight:bold;
}
@mixin green-line{
  width: 100px;
  height:30px;  
display: grid;
border-bottom:4px solid $color-tertiaire;
width:43px;
margin-left:20px;  
}

@mixin box-article{
  height: 68px;

border-radius:15px;
margin-right:10px;
margin-left: 10px;
position: relative;
background-color: #fff;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
cursor: pointer;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
transition: padding-right 450ms ease-in-out;
&:hover {
  padding-right: 75px;
  &:hover .section__animation {
    opacity: 1;
    transform: translate(-50px);
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg)
  }
}
}
@mixin anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 68px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;  
}
@mixin artilcle-h4{
  margin-top: -10px;
  margin-left: 10px;
 font-family:'Roboto';
 font-weight:bold;
  
}
@mixin section__art{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-left:10px;
 font-size:17px ;
margin-top: -15px;

}
@mixin art-p {margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 
  
}


    .wapper{@include width-display;
    height: 1641px;
    grid-template-rows:80px 1fr 4fr 1fr 1fr;
    background-color:#f2f2f2; 
 grid-template-areas: "header""header""section"
 "nav" "footer";


}
header{ 
    grid-area:header;
    background-color:#FEFEFE;
    @include width-display;   
   grid-template-rows:80px 300px;
 
   height: 400px;
   
  .header__box{background-color:#FEFEFE;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
display:grid ;
 
    height: 50px;
  .acueil{
     margin-left: 20px;
     margin-top :30px;
  }
  .logo{align-self: center;
justify-self: center;
font-family: 'Shrikhand', cursif ;
margin-top :-10px;

  }
   }
   .header_img-pal{ height:300px;
    margin-top:-20px ;
    width: 100%;
   object-fit: cover;
   }
   }

section{
   grid-area:section;
 @include width-display;
background-color:#f2f2f2; 
border-top-left-radius:30px;
border-top-right-radius: 30px;
margin-top :40px;
.section__animation{ 
  @include anim;
 }
 .section__animation .fa-check-circle {
   color: #fff;
   transition: transform 500ms ease-in-out;
 }


 
.section_page{
   height: 150px;
 margin-top: 15px;
   grid-template-rows:1fr 1fr;
   grid-template-columns:300px 50px 50px; 
 @include width-display;
.section__page_lap{ display:grid;margin-top:20px;
  font-family : 'Shrikhand', cursif ;
  width: 300px;
 margin-left: 20px;
 font-size: 26px;
 grid-area: 1/1;

}
}
   .section_heart{

    width: 28px;
    height: 30px;
  grid-area: 1/2;

 margin-top: 15px;

   }
  .fa-heart{
    margin-top:10px;
    
    font-size:23px;
    .fa-heart::before {
      content: "\f004";
    }
  }
  .fa-heart:hover { 
   @include heart__hover;
    
  }
.section_box__ent{
 @include green-line;
 margin-top: 5px;
grid-area:2/ 1;
.ent{

 margin-top:5px;
}

}





.menu_entrée{

@include width-display;
margin-top:-20px ;

height:239px ;
 
  
.box_art-un{
  @include box-article;   


.section_article-h4{
  @include artilcle-h4;

 
 
}


.section__art{ @include section__art;
}
 .section__art p{@include art-p;
 } 
 .section__art span{
    padding-right:15px;
 
 
}
}


.box_art-deux{
 @include box-article;
 margin-top:15px ;

 .section_article-foi{
@include artilcle-h4;
 }
 .section__art{ @include section__art;
 }
 .section__art p{@include art-p; 
 }
 .section__art span{
    padding-right:15px;


}


}
.box_art-trois{ @include box-article;
 margin-top:15px ;
 .section_article-oeuf{
  @include artilcle-h4;  
 }

 .section__art{ @include section__art;
 }
 .section__art p{@include art-p; 
 }
 .section__art span{
    padding-right:15px;
 
}
}

}

.section_box__plat{
margin-top:30px;
 @include green-line;
.plat{
margin-top: 5px ;
}


}
.menu_plat{ margin-top:10px;
  @include width-display;
  height:239px;


 
.box_quatre{
  @include box-article;  

.section_article-h4{
  @include artilcle-h4;

}
.section__art{ @include section__art;
}
 .section__art p{@include art-p;
 } 
 .section__art span{
  padding-right:15px;

 }


}
.box_cinq{ @include box-article;  
  margin-top: 10px;
;
  .section_article-h4{
    @include artilcle-h4;
  
  }
  .section__art{ @include section__art;
  }
   .section__art p{@include art-p;
   } 
   .section__art span{
    padding-right:15px;
  
   }


}

.box_six{ @include box-article; 
  margin-top: 10px; 
  .section_article-h4{
    @include artilcle-h4;
  }
  .section__art{@include  section__art;
  }

  .section__art p{@include art-p;
  } 
  .section__art span{
   padding-right:15px;
 
  }

}

}

.section_box__dessert{
  @include green-line;
 margin-top:30px ;
  .dessert{
    margin-top: 5px ; 
  }


}
.menu_dessert{ 
  @include width-display;
  height:239px;

  margin-top: 15px;
  .box_sept{ @include box-article; 
  .section_article-h4{
     @include artilcle-h4;
    }
    .section__art{@include  section__art;
    }
  
    .section__art p{@include art-p;
    } 
    .section__art span{
     padding-right:15px;
 
    }
  }
  .box_huit{ @include box-article; 
    margin-top:10px;
   
    .section_article-h4{
       @include artilcle-h4;
      }
      .section__art{@include  section__art;
      }
    
      .section__art p{@include art-p;
      } 
      .section__art span{
       padding-right:15px;
   
      }
    }
    .box_neuf{ @include box-article; 
    margin-top:10px;
      .section_article-h4{
         @include artilcle-h4;
        }
        .section__art{@include  section__art;
        }
      
        .section__art p{@include art-p;
        } 
        .section__art span{
         padding-right:15px;
     
        }
      }


}


}

@mixin navbtn_1234{
  width:100% ;
     grid-area: nav;
    height:150px ;
    display:grid;
    background-color:#f2f2f2; 
  align-items:center ;
  justify-items: center;

}
@mixin nav_btn-page1234{background:linear-gradient(180deg, $color-primary,$color-secondaire);
  border-radius:30px;
  align-items:center ;
 justify-items: center;
   box-shadow: 0 5px 5px -3px #333;
   width: 200px;
  display:grid ;
   height:49px;
   cursor:pointer;
  
}
 
  nav{@include navbtn_1234;

  .box_btn{
 @include nav_btn-page1234;

   }     
 
 

   .box_btn-btn{

  
  display: inline;
  color: white;
  font-weight: 600;
   }
  
  
   .box_btn:hover{ transform: scale(1.2);
    transition-duration: 3s;
  
   }
        

  }




   footer{
    grid-area:footer;
  width:100%;
  height:100%;
  background-color:#322f2f;  
margin: top -10px;

   
.footer_box-logo{width:150px;
    height:30px;
  
    margin-top:20px ;
    display:grid ; 
    margin-left:10px; 
     .footer_logo{ 
   color:white;
   font-size: 17px;
    font-family :'Shrikhand',cursif;
    }
  
   }
  
  
   .footer_list{display:grid;
   
   grid-template-rows:30px 30px 30px 30px;
  margin-left:10px; 
   }
  .footer_list-un,.footer_list-deux{ 
    @include footer_color-font;  
   margin-left:30px;
  
   margin-top:-15px;
  }
  .fa-hands-helping,.fa-utensils{color:white;
    margin-top:20px;
    display:grid;
  
  
  }
  .footer_box-list{
    margin-top:-5px;
  }
  .footer_box-list-deux{
    margin-top:-30px;
  }
  
  .footer_list-trois,.footer_contact{
   @include footer_color-font;  
   }
   .footer_list-trois{
  
  width:150px;
  margin-top:-8px;
  
   }
   .footer_contact{
   display:grid;
  
  width:150px;
  margin-top:-16px;
   }
  
   
   }
  









