@import "vendors/reset.scss";
@media screen and (max-width: 620px){
  @font-face {
    font-family:"Roboto";
    src: url("Roboto/Roboto-Light");
  }

body{margin: 0;
  padding: 0;
  height:2218px; 
    width:100%;
    font-family: 'Roboto';
}

 .chargement{border: 10px solid #9356DC; 
   /*création du loader*/
   width: 100px;
   height: 100px;
  border-top: solid 12px #FF79DA;
  border-bottom: 10px solid#99E2D0;
  border-radius: 50%;
  /*placement au centre et au milieu*/
  margin: auto;
  position: absolute;
  top:0; bottom: 0;left: 0;right: 0;
  animation: spinnone 1.5s linear infinite ;
  animation-iteration-count: 3;
  animation-fill-mode:forwards;
  visibility:hidden;
 }
 @keyframes spin  {
  0% {
    transform: rotate(0);
  }
 100% {
    transform: rotate(360deg);visibility:hidden;
  }
 
}
@keyframes wapper_slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
 }
}

 .wapper{ width:100%;
animation-duration:3s;
animation-name:wapper_slide none;
  margin: auto;
    display: grid;
   height:100%; 
    grid-template-columns: 1fr;
   grid-template-rows:1fr 1fr 2fr 6fr 1fr ;
   border: 1px solid black;
   grid-template-areas:
   "header"" header_nav"
   "nav" "section"   
   "foot";
   
 }

 header{display: grid;   
  grid-area:header;
  font-family :'Shrikhand',cursif;
  font-size: medium;
  width: 100%; 
 grid-template-rows:repeat(2,1fr);
.header-box{background-color: #ffff;
  display: grid;
.header-logo{ width: 200px; 
  height: 30px; 
 grid-area: 1/2;
 margin-top: 1rem;
}
}
}
 .header-box_lieu{background-color:#d9d9d9;
  width: 100%;
  display:grid;  
 grid-template-columns:repeat(3, 1fr);
font-family:'roboto light', sans-serif;
.header-icon{grid-area: 1/2;
  margin-left:10%;
align-self: center;
&_lieu{grid-area:1/2;
margin-left: 3rem;
width: 150%;
align-self: center;
}
}

 }
 .header_nav{background-color: #f2f2f2;
  grid-area: header_nav;
  display:grid ;
  height: 70%;
  grid-template-columns: repeat(1, 3fr);
 grid-template-rows:repeat(6, 1fr);
  .header_nav_res{
   margin-left:28%;
   font-family:'Shrikhand',cursif;
font-weight: 300;
font-size: x-large;
 span{ margin-left:10%;

} 
 }
 .header_nav-box-dec{width:100%;
 display: grid;  
  margin-left: 25%;
  font-size: larger;
  font-family:'Roboto light',sans-serif;
 h3 span{margin-left: 8%;
  }
}

 .box_btn{ border: black 1px solid;
  background:linear-gradient(180deg, #FF79DA,#9356DC);
cursor:pointer;
margin-top:30px;
width: 55%;
margin-left: 30%;
height: 100%;
border-radius: 30px;
display:flex; 
 .box_btn-btn{
align-self: center;
margin-left:12%;
display: inline;
color: white;
font-family:'Roboto',sans-serif;
font-weight: 600;
 }
}
 }
 nav{background-color: chartreuse;
     grid-area: nav;
   
 }
 section{background-color: cyan;
 grid-area: section;
 
 }
 footer{background-color: blue;
  grid-area:foot;
 font-size:large;
 color:white;
 
 }
}
