@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media screen and (max-width: 400px) {
  @font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Light");
  }
  body {
    margin: 0;
    padding: 0;
    height: 2263px;
    width: 100%;
    font-family: 'Roboto',sans-serif;
  }
  .chargement {
    border: 10px solid #9356DC;
    /*création du loader*/
    width: 100px;
    height: 100px;
    border-top: solid 12px #FF79DA;
    border-bottom: 10px solid #99E2D0;
    border-radius: 50%;
    /*placement au centre et au milieu*/
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: spinnone 1.5s linear infinite;
            animation: spinnone 1.5s linear infinite;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    visibility: hidden;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      visibility: hidden;
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      visibility: hidden;
    }
  }
  @-webkit-keyframes wapper_slide {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes wapper_slide {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .wapper {
    width: 100%;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: wapper_slide none;
            animation-name: wapper_slide none;
    margin: auto;
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 2fr 6fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 6fr 1fr;
    border: 1px solid black;
        grid-template-areas: "header" " header_nav" "nav" "section" "foot";
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    font-family: 'Shrikhand',cursif;
    font-size: medium;
    height: 70%;
    width: 100%;
    margin-top: 0.3rem;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  header .header-box {
    background-color: #FEFEFE;
    display: -ms-grid;
    display: grid;
  }
  header .header-box .header-logo {
    width: 60%;
    height: 30px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    margin-top: 1.4rem;
  }
  .header-box_lieu {
    background-color: #DCDCDC;
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 84%;
    -webkit-box-shadow: 0 -5px 5px -5px #9E9E9E;
            box-shadow: 0 -5px 5px -5px #9E9E9E;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    font-family: "Roboto",sans-serif;
  }
  .header-box_lieu .header-icon {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    margin-left: -2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 35%;
    width: 17%;
  }
  .header-box_lieu .header-icon_lieu {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    width: 150%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header_nav {
    background-color: #f2f2f2;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: header_nav;
    display: -ms-grid;
    display: grid;
    height: 55%;
    margin-top: -16%;
    -ms-grid-columns: (3fr)[1];
        grid-template-columns: repeat(1, 3fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  .header_nav .header_nav_res {
    margin-top: 2.5rem;
    margin-left: 15%;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
  .header_nav .header_nav_res span {
    margin-left: 10%;
  }
  .header_nav .header_nav-box-dec {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-left: 8%;
    margin-top: 10px;
    font-size: larger;
    font-family: 'Roboto light',sans-serif;
  }
  .header_nav .header_nav-box-dec h3 span {
    margin-left: 8%;
  }
  .header_nav .box_btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    cursor: pointer;
    margin-top: 25px;
    -webkit-box-shadow: 0 5px 5px -3px #333;
            box-shadow: 0 5px 5px -3px #333;
    width: 60%;
    margin-left: 20%;
    height: 110%;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_nav .box_btn .box_btn-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 8%;
    display: inline;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
  }
  .box_btn:hover {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
    -webkit-transition-duration: 4s;
            transition-duration: 4s;
  }
  nav {
    background-color: #FEFEFE;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: nav;
    margin-top: -78%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  nav .nav_box {
    width: 100%;
    width: 100%;
  }
  nav .nav_box .nav_box-fon {
    font-size: x-large;
    margin-top: 12%;
    margin-left: 8%;
    font-weight: bold;
  }
  .box_un {
    margin-top: -7%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-box-shadow: 0px 5px 5px -3px #333;
            box-shadow: 0px 5px 5px -3px #333;
    width: 85%;
    height: 55%;
    background-color: #f2f2f2;
    margin-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box_un .box_un-circle {
    width: 23px;
    height: 23px;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    margin-left: -4%;
    background-color: #9356DC;
    border-radius: 20px;
  }
  .box_un .box_un-circle span {
    margin-left: 35%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .box_un .mobile {
    width: 30%px;
    height: 30%;
    margin-left: 8%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    opacity: 50%;
  }
  .box_un .mobile_choi {
    margin-left: 1.8rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: bold;
  }
  .box_un:hover, .box_deux:hover, .box_trois:hover {
    background-color: rgba(147, 86, 220, 0.2);
  }
  .box_deux {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-box-shadow: 0px 5px 5px -3px #333;
            box-shadow: 0px 5px 5px -3px #333;
    width: 85%;
    height: 55%;
    background-color: #f2f2f2;
    margin-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -16%;
  }
  .box_deux .box_deux-circle {
    width: 23px;
    height: 23px;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    margin-left: -4%;
    background-color: #9356DC;
    border-radius: 20px;
  }
  .box_deux .box_deux-circle span {
    margin-left: 35%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .list {
    margin-left: 8%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    opacity: 50%;
  }
  .list_com {
    margin-left: 1.8rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: bold;
  }
  .box_trois {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-box-shadow: 0px 5px 5px -3px #333;
            box-shadow: 0px 5px 5px -3px #333;
    width: 85%;
    height: 55%;
    background-color: #f2f2f2;
    margin-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -25%;
  }
  .box_trois .box_trois-circle {
    width: 23px;
    height: 23px;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    margin-left: -4%;
    background-color: #9356DC;
    border-radius: 20px;
  }
  .box_trois .box_trois-circle span {
    margin-left: 35%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .food {
    margin-left: 8%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    opacity: 50%;
  }
  .food_dug {
    margin-left: 1.8rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: bold;
  }
  section {
    background-color: cyan;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: section;
  }
  footer {
    background-color: blue;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: foot;
    font-size: large;
    color: white;
  }
}
/*# sourceMappingURL=cours.css.map */