@import "vendors/reset.scss";

@media screen and (min-width: 20px) and (max-width: 600px){ 
  @font-face {
    font-family: 'Roboto';
 src:url('./fonts/Roboto/Roboto-Light.woff')
  }
  $color-primary:#FF79DA;
  $color-secondaire:#9356DC;
$color-tertiaire:#99E2D0;

body{margin: 0;
  padding: 0;
  height:100vh; 
    width:100%;
    font-family:'Roboto',sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
 .chargement{border: 10px solid $color-secondaire; 
   /*création du loader*/
   width: 100px;
   height: 100px;
  border-top: solid 12px $color-primary;
  border-bottom: 10px solid $color-tertiaire;
  border-radius: 50%;
  /*placement au centre et au milieu*/
  margin: auto;
  position: absolute;
  top:0; bottom: 0;left: 0;right: 0;
  animation:spin 1.5s linear infinite ;
  animation-iteration-count: 3;
  animation-fill-mode:forwards;
 
 }
 @keyframes spin  {
  0% {
    transform: rotate(0);
  }
 100% {
    transform: rotate(360deg);visibility:hidden;
  }
 
}
@keyframes wapper_slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
 }
}

 .wapper{ width:100%;
animation-duration:4s;
animation-name:wapper_slidenone;
margin:auto;
    display: grid;
   height:2263px; 
    grid-template-columns: 1fr;
   grid-template-rows:1fr 1fr 2fr 6fr 1fr ;
   border: 1px solid black;
   grid-template-areas:
   "header"" header_nav"
   "nav" "section"   
   "foot";
   
 }

 header{display: grid;   
  grid-area:header;
  font-family :'Shrikhand',cursif;
  font-size: medium;
  height: 70%;
  width: 100%; 
  margin-top: 0.3rem;
 grid-template-rows:repeat(2,1fr);
.header-box{background-color:#FEFEFE;
  display: grid;
.header-logo{
 font-size:30px;
 grid-area: 1/2;
 margin-top: 1.4rem;
}
}
}
 .header-box_lieu{background-color:#DCDCDC;
  width: 100%;
  margin-top:10px;
  display:grid;
  height:50px; 
  box-shadow:0 -5px 5px -5px #9E9E9E;  
 grid-template-columns:repeat(3, 1fr);
font-family: "Roboto",sans-serif;
.header-icon{grid-area: 1/2;
 margin-left: -2rem;
align-self: center;
height: 35%;
width: 17%;
&_lieu{grid-area:1/2;
width: 150%;
align-self: center;
}
}

 }
 .header_nav{background-color:#f2f2f2;
  grid-area: header_nav;
  display:grid ;
  height:55%;
  margin-top:-40px;
  grid-template-columns: repeat(1, 3fr);
 grid-template-rows:repeat(6, 1fr);
  .header_nav_res{
    margin-top: 2.5rem;
   margin-left:15%;
  font-family:"Roboto",sans-serif;
 font-size:24px;
  font-weight: 700;
 p{ margin-left:10%;

} 
 }
 .header_nav-box-dec{width:100%;
 display: grid;  
  margin-left:8%;
  margin-top: 10px; 
  font-size: larger;
  font-family:'Roboto light',sans-serif;
 h3 p{margin-left: 8%;
  }
}

 .box_btn{
  background:linear-gradient(180deg, $color-primary,$color-secondaire);
cursor:pointer;
margin-top:25px;
box-shadow: 0 5px 5px -3px #333;
width: 60%;
margin-left: 20%;
height: 110%;
border-radius: 30px;
display:flex; 
 .box_btn-btn{
align-self: center;
margin-left:8%;
display: inline;
color: white;
font-family:'Roboto',sans-serif;
font-weight: 600;
 }
}

 .box_btn:hover{ transform: scale(1.015);
  transition-duration: 4s;

 }
 }
 @mixin titre_nav-sec{
  font-size: x-large;
margin-top: 12%;
margin-left:8%;
font-weight:bold;
 
}


 nav{background-color: #FEFEFE;
     grid-area: nav;
     margin-top:-76%;
   
     display:grid; 
     grid-template-rows:repeat(5, 1fr);
     grid-template-columns:1fr;
     .nav_box{width: 100%;   
   
     width:100%;
     .nav_box-fon{        
     @include titre_nav-sec;

     }
    }
 }
 @mixin boxnou{  
  background:$color-tertiaire;
  height:30px;  
   display:flex;
   width:80px; 
   border-radius: 3px;
   contain:paint ;
   margin-left:72%;
 }
 
 
 @mixin fonction-radius{   

border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  box-shadow: 0px 5px 5px -3px #333; 
  width: 85%;
  height: 55%;
  background-color: #f2f2f2;
  margin-left:7%;
  display: flex;
 }
 
@mixin circle {width: 23px;
  height: 23px;
display: grid;
align-self: center;
margin-left: -4%;
  background-color:$color-secondaire;
  border-radius:20px;
  
}
@mixin span_circle {
  margin-left:35%;
  color:white;
  font-size:12px;
  font-weight: bold;
  align-self: center; 
  
}
@mixin icon_center{
  margin-left: 8%;
  align-self:center;
  opacity: 50%;

}
@mixin phrase_box {
  margin-left:1.8rem;
  align-self: center;
  font-weight: bold;
  
}

.box_un { 
  
 
margin-top: -7%;
@include fonction-radius;
.box_un-circle{
 @include circle; 
  span{@include span_circle;
  }
}
 



.mobile{
  height:30%;
@include icon_center;
}
  .mobile_choi{
    @include phrase_box;
  }

}

.box_un:hover,.box_deux:hover,.box_trois:hover{background-color: 
  transparentize($color-secondaire, .8);
}
.box_deux{@include fonction-radius;

margin-top: -16%;
.box_deux-circle{
  @include circle;
span {@include span_circle;
 } 
}
}
.list{
 @include icon_center;
}
.list_com{@include phrase_box;
}

.box_trois{@include fonction-radius;
margin-top: -25%;
  .box_trois-circle{
    @include circle;
    span {@include span_circle;
}

}
}
.food{@include icon_center;
}

 .food_dug{@include phrase_box;

 }


 section{  background-color: #f2f2f2;
 grid-area: section;
margin-top: -55%;
display: grid;
grid-template-rows:0.2fr repeat(4, 1fr) 0.2fr;
row-gap: 1rem;
.restaurant{margin-top:2rem;
@include titre_nav-sec;

}
}
@mixin section_box_h1{

  display:grid;
  height:60px;
}

.section_box{
 background-color:#FEFEFE;
 width:86%;
 height: 257px;

 margin-left:7%;
 border-radius:20px;

}

@mixin section_img {
   display: flex;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  width:100% ;
  height: 180px;
}

@mixin heart{border-radius:50px;   
  height: 27px;
 

  
}



.section_box-img{
  
 @include section_img;
}
  


.section_box-nou{
 @include boxnou;
  margin-left:72% ;
  margin-top:-165px ;
  
 
}
 span{color:#066822;
align-self:center ;
margin-left:10px;
font-size:13px;
font-weight:500 ; 
}


  @mixin box_hearts{
    width: 29px;
   height: 25px;
   background-color: #FFF;
   display: grid;
   margin-left:85% ;
   margin-top:-45px;
  

}
.section_box-pal{
@include section_box_h1;
margin-top:42%;

}

strong{ font-weight:bold ;
  margin-left:8px;
  margin-top:10px;
}

  h2{ 
    margin-left:8px;
    display:grid;
  }
 

  

 .box_heart { 
 @include box_hearts;


  .heart {
@include heart;  
   
  }

 
  
}
@mixin heart_hover{ cursor: pointer;
  transition: color 1s ease-out;
    background:-webkit-gradient(linear, 
     left top, left bottom,
     from($color-secondaire), to($color-primary));
    
     
     




}
.heart:hover,.heart_deux-img:hover,.heart_trois-img:hover{
  @include heart_hover;

}

@mixin section_box-s{
   background-color:#FEFEFE;
  width:86%;
  height: 257px;
display: grid;
  margin-left:7%;
  border-radius:20px;

  
  
}
@mixin section_img {
  display: flex;
 border-top-right-radius:20px;
 border-top-left-radius:20px;
 width:100% ;
 height: 180px;
}
.section_box-deux{
@include section_box-s; 

.section_box-deux-img{ @include section_img;


 grid-area:3/1;

}

}
.section_box-deux-nou {
   @include boxnou;
 

margin-top:-53%;
}
.section_box-deux-not{
  @include section_box_h1;

margin-top:-30px; 

}
.section_box-deux-not{
  margin-top:10px;


  
}
h1, h2{margin-left:8px;



}
.box_heart-deux{
 @include box_hearts;

 img{
  margin-top:1px;
 @include heart;
 
 }
}

.section_box-trois{
  @include section_box-s;  
  grid-area:4/1;
.section_box-trois-img{
  @include section_img;
 
}
}
.section_box-trois-fran{
margin-top:-10px;

h2{margin-top:5px;

}
}
.box_heart-trois{
   @include box_hearts;
 
   .heart_trois-img{
    margin-top:1px;
 @include heart;

}

}

.section_box-quatre{
  @include section_box-s;
 .section_box-quatre-img {
  @include section_img;   
 }
   
}
.section_box-quatre-sens{
h1{margin-top:-5px;

}
}

 footer{
  grid-area:foot;
width:100%;
height:100%;
background-color:#322f2f;
 

 } 

.footer_box-logo{width:150px;
  height:30px;

  margin-top:20px ;
  display:grid ; 
  margin-left:10px;  .footer_logo{ 
 color:white;
 font-size: 17px;
  font-family :'Shrikhand',cursif;
  }

 }


 .footer_list{display:grid;
 
 grid-template-rows:repeat(4, 1fr);
margin-left:10px; 





 

 }
.footer_list-un,.footer_list-deux{ 
 font-weight:600;
 font-size:15px ;
 margin-left:30px;
 color:white;
 margin-top:-15px;
}
.fa-hands-helping,.fa-utensils{color:white;
  margin-top:20px;
  display:grid;


}
.footer_box-list{
  margin-top:-5px;
}
.footer_box-list-deux{
  margin-top:-16px;
}

.footer_list-trois,.footer_contact{color:white;
  font-weight:600; 
   font-size:15px ;
 
 }
 .footer_list-trois{

width:150px;
margin-top:-8px;

 }
 .footer_contact{
 display:grid;

width:150px;
margin-top:-16px;
 }


    
}



