footer{
    grid-area:footer;
  width:100%;
  height:100%;
  background-color:#322f2f;  
  
   } 
   
.footer_box-logo{width:150px;
    height:30px;
  
    margin-top:20px ;
    display:grid ; 
    margin-left:10px; 
     .footer_logo{ 
   color:white;
   font-size: 17px;
    font-family :'Shrikhand',cursif;
    }
  
   }
  
  
   .footer_list{display:grid;
   
   grid-template-rows:30px 30px 30px 30px;
  margin-left:10px; 
   }
  .footer_list-un,.footer_list-deux{ 
   font-weight:600;
   font-size:15px ;
   margin-left:30px;
   color:white;
   margin-top:-15px;
  }
  .fa-hands-helping,.fa-utensils{color:white;
    margin-top:20px;
    display:grid;
  
  
  }
  .footer_box-list{
    margin-top:-5px;
  }
  .footer_box-list-deux{
    margin-top:-16px;
  }
  
  .footer_list-trois,.footer_contact{color:white;
    font-weight:600; 
     font-size:15px ;
   
   }
   .footer_list-trois{
  
  width:150px;
  margin-top:-8px;
  
   }
   .footer_contact{
   display:grid;
  
  width:150px;
  margin-top:-16px;
   }
  
   
  
  
  
  
  
  