

 .header_nav{background-color:#f2f2f2;
    grid-area: header_nav;
    display:grid ;
    height:100%;
    height:338px;
    margin-top:-65px; 
    grid-template-columns: repeat(1, 3fr);
   grid-template-rows:repeat(4, 1fr);
   @media (min-width: 1024px){
    margin-top:-45px;
   }
  
    .header_nav_res{ 
      margin-top: 30px;
    line-height: 15px;
      font-family:"Roboto",sans-serif;
     margin-left:17%;
     @media (min-width: 480px){
      margin-left:24%; 
     }     
     font-size:24px; 
  
    font-weight:bolder;   
    @include tablet-only{
      margin-left:34%;  
  }
  @media (min-width:1024px){ 
    margin-left:38%;
  }
  
    .header_nav_res-vou{ margin-left:13%;
      margin-top:8px;
      @media (min-width: 480px){
        margin-left:10%; 
       }     
      display:grid;
      @include tablet-only{
        margin-left:8%;
      } 
   } 
   }
   .header_nav-box-dec{width:100%;
   display: grid;
  
    margin-left:6%;
    margin-top:15px; 
    font-size: larger;
    @media (min-width: 480px){
      margin-left:16%; 
     }     
    font-family:"Roboto",sans-serif;
    @include tablet-only{
      margin-left:30%;
     @media (min-width:1024px){ 
      margin-left:35%;
      } 
    }
   .dec{ margin-left:13%;
    @media (min-width: 480px){
      margin-left:10%; 
     }      
   display:grid;
   @include tablet-only{
    margin-left:6%;
  } 
  
   }
  }
   
  
   .box_btn{
    background:linear-gradient(180deg, $color-primary,$color-secondaire);

  margin-top:10px;
  box-shadow: 0 5px 5px -3px #333;
  width: 235px;
  margin-left: 17%;
  height:49px;
  cursor:pointer;
  @media (min-width: 480px){
    margin-left:25%; 
   }     
  border-radius: 30px;
  display:flex; 
  @include tablet-only{
    margin-left:35%;
    @media (min-width:1024px){ 
      margin-left:38%;
    }  
  } 
   .box_btn-btn{
  align-self: center;
  margin-left:10%;
  display: inline;
  color: white;
  font-weight: 600;
   }
  }
  
   .box_btn:hover{ transform: scale(1.2);
    transition-duration: 4s;
  
   }
   }       