
 
 header{display: grid;   
    grid-area:header;
    
    width: 100%; 
    margin-top: 0.3rem;
   grid-template-rows:repeat(2, 1fr);
   
  .header-box{background-color:#FEFEFE;
    display: grid;
  .header-logo{
   font-size:30px;
   grid-area: 1/2;
   margin-top: 1.4rem;
   font-family :'Shrikhand',cursif;
   
  
  
  }
  }
  }
   .header-box_lieu{background-color:#DCDCDC;
    width: 100%;
    margin-top:-20px;
    display:grid;
    height:50px; 
    box-shadow:0 -5px 5px -5px #9E9E9E;  
   grid-template-columns:repeat(3, 1fr);
   @media (min-width:1024px){
    margin-top:0;
  
    }
  
   .fa-map-marker-alt{ 
    grid-area:1/2;
  display:grid;
  align-self:center;
  @media (min-width: 480px){
    margin-left:1%; 
   }     
  margin-left:-15px;
  @include tablet-only{
    margin-left:20%;
    @media (min-width:1024px){ 
      margin-left:28%;
  }
  
   }
  } 
   
  .header-icon_lieu{
  width: 150%;
  margin-left:8%;
  font-family:"roboto",sans-serif;
  font-size:15px;
  font-weight:600;
  grid-area:1/2;
  @media (min-width: 480px){
    margin-left:15%;  
  }    
  display:grid;
  align-self:center;
  @include tablet-only{
    margin-left:28%;
    @media (min-width:1024px){ 
    margin-left:35%;
    }
  
  }
   
  
  }
   
  }
  
  
  header{ 
    grid-area:header;
    background-color:#FEFEFE;
    @include width-display;   
   grid-template-rows:50px 270px;
 
   height: 320px;
   
  .header__box{background-color:#FEFEFE;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
display:grid ;

    height: 60px;
  .acueil{
     margin-left: 20px;
     margin-top :20px;
     color: black;
  }
  .logo{align-self: center;
justify-self: center;
font-family: 'Shrikhand', cursif ;
font-weight: lighter;
font-size:29px;
margin-top :5px;
  }
   }
   .header_img-pal{
  
  object-fit:cover ;
 width:100%;
 height:270px ;
   }
   }