

 

.section_box-img{  
  @include section_img;
 
  @media (min-width: 1024px){
  @include  section_img_destop;  
 }
   
 }
 
 .section_box-nou{
  @include boxnou;
  .section_nouveau{color:#066822;
 align-self:center ;
 margin-left:10px;
 font-size:13px;
 font-weight:500 ; 
 }

 
  
   
 
 }
 .section_box-pal{
 @include section_box_h1;
 margin-top:150px;
 @media (min-width:1024px){ 
   margin-top:380px;
 }
 }
 
 strong{ font-weight:bold ;
   margin-left:8px;
   margin-top:10px;
 }
 
   h2{ 
     margin-left:8px;
     display:grid;
   }
  
 
   
 
  .box_heart { 
  @include box_hearts;
 
 
   .heart {
 @include heart;  
    
   }
 
  
   
 
     
      
      
 
 
 
 
 }
 .heart:hover,.heart_deux-img:hover,.heart_trois-img:hover{
   @include heart_hover;
 
 }

 .section_box-deux{
 @include section_box-s;
 @media (min-width: 1024px){
   grid-area: 2/2;
   @include section_box_destop;
 }
 .section_box-deux-img{ @include section_img;
  grid-area:3/1;
  @media (min-width: 1024px){
   @include  section_img_destop;  
  }
 
 }
 
 }
 
 
 .section_box-deux-nou {
    @include boxnou;
    .sec_deu-nouveau{color:#066822;
     align-self:center ;
 margin-left:10px;
 font-size:13px;
 font-weight:500 ; 
 
    }
 
 }
 .section_box-deux-not{
   @include section_box_h1;  
 }
  h2{margin-left:8px;
 
 
 
 }
 .box_heart-deux{
  @include box_hearts;
 
  img{
   margin-top:1px;
  @include heart;
  
  }
 }
 
 .section_box-trois{
   @include section_box-s;  
   grid-area:4/1;
   @media (min-width: 1024px){
     grid-area: 3/1;
     @include section_box_destop;
 
   }
 .section_box-trois-img{
   @include section_img;
   @media (min-width: 1024px){
     @include  section_img_destop;  
    }
 
 }
 }
 .section_box-trois-fran{
   @include section_box_h1;
 
 
 
 
 }
 .box_heart-trois{
    @include box_hearts;
  
    .heart_trois-img{
     margin-top:1px;
  @include heart;
   
 }
 
 }
 
 .section_box-quatre{
   @include section_box-s;
   @media (min-width: 1024px){
     grid-area: 3/2;
     @include section_box_destop;
   }
  .section_box-quatre-img {
   @include section_img; 
   @media (min-width: 1024px){
     @include  section_img_destop;  
    }   
  }
    
 }
 .section_box-quatre-sens{
   @include section_box_h1;
 }
 
 